.classpath
.idea/*
.project
.settings
.settings/*
target/
*.iml
**/*.iml
/build/
out.txt
*.lck
*.log
*.script
*.out
.vscode
.gradle
.factorypath
lambda/creds*.json
lambda/node_modules
**/*.zip
lambda/.env**
lambda/curl*.sh
