<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
      <style>
         body {
         	font-family: 'Roboto', sans-serif;
         }
      </style>
   </head>
   <body>
      
      <h3>Reset your password for Poverty Stoplight Platform</h3>
      <div style="background-color:#50aa47;padding: 10px;"></div>
      <br> 
      <p>Hello !, follow this <a href="%s" target="_blank">link</a> to reset your PSP password for your %s account.</p>
      <br> 
      <div style="background-color:#f0cc39;padding: 6px;"></div>
      <div style="background-color:#e0504c;padding: 4px;"></div>
      <br>
      <p>The Poverty Stoplight team</p>
      <img src="http://www.povertystoplight.org/media/filer_public_thumbnails/filer_public/54/de/54de38a5-0dd9-4f56-af21-2edca94d26f5/logo.png__1170x0_q85_subsampling-2_upscale.png" 
		   height="50px" alt="Semaforo"> <br> 
      <br>
      Manuel Blinder 5589 c/ Tte. Espinoza.<br> 
      Asunción, Paraguay.<br> 
      Phone: (+595 21) 609 - 277.<br> 
      SUPPORT CENTER<br> 
      +595 21 0800 11 7600<br> 
   </body>
</html>